# Auto detect text files and perform LF normalization
* text=auto
https://campco.wixsite.com/cephotoart?lightbox=image1nzg
https://campco.wixsite.com/cephotoart?lightbox=image1v
https://campco.wixsite.com/cephotoart?lightbox=imagetlj
